.navbar {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 11em;
    height: 100%;
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.2em;
    z-index: 1;
    
}
.navbar a {
    background-color: #999;
    color: #fff;
    left: 10%;
    padding: 0.2em;
    margin: 0.5em;
    text-decoration: none;

}
.navbar a:hover {
    background-color: #666;
    padding: 0.5em 0.3em 0.5em 0.3em
}
.title {
    top: 10%;
    position: fixed;
    margin: auto;
    left: 30%;
    right: 30%;
    padding: 2px;
    width: 100%;
    align-content: center;

}
.body {
    background:white;
    width: 80%;
    top: 15%;
    left: 20%;
    position: fixed;
    padding: 5px;
}
.space {
    margin: 1em;
}
.form {
    background: #999;
    width: 15em;
    left: 32%;
    position: fixed;
    top: 20%;
}

.form2 {
    background: #999;
    width: 15em;
    left: 32%;
    position: fixed;
    top: 35%;
    align-content: center;
}
.form3 {
    background: #999;
    width: 15em;
    left: 32%;
    position: fixed;
    top: 45%;
    align-content: center;
}
.form4 {
    background: #999;
    width: 15em;
    left: 32%;
    position: fixed;
    top: 20%;
    padding: 2px;
}
.loginTitle {
    top: 10%;
    position: fixed;
    margin: auto;
    align-self: center;
    padding: 2px;
    width: 100%;
    text-align: center;
}
.loginForm {
    background: #999;
    width: 15em;
    top: 30%;
    padding: 2px;
    text-align: center;
    display: inline-block;
    max-height: 15em;
}